html
    head
        meta(charset="UTF-8")
        title Dayoung's S3 Upload
    body
        h1="안내 : "+content
        form(action='/upload' method='post' enctype='multipart/form-data')
            h2 첨부할 파일을 선택해 주세요. &nbsp
                input(type="file" name="filename" id="filename" value="" style="text-align:center; width:300px; height:30px") 
            h2
                input(type="submit" value="UPLOAD")
